{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Espiral de Fibonacci</h1>
        <p>
            
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed voluptate velit quibusdam dolore ullam aliquid! Sunt pariatur magni non est quibusdam eius id aperiam? Fugiat non nisi quaerat enim ipsum?

        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/imagen.png" alt="img-thumbnail">
    </div>

</div>

{{> footer }}